* {
    margin: 0px;
    padding: 0px;
}

body {
    padding-top: 50px;
    font-family: 'Roboto', sans-serif;
}

/* Header --------------------------------------------------------------------------------- */

.header-container {
    background-color: #B0E0E6;
    height: 50px;
    position: fixed;
    width: 100vw;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-title {
    font-size: 20px;
}

.logo {
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.header-afterLogin {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* UserIcon --------------------------------------------------------------------------------- */

.userprofileBn {
    background-color: transparent;
    border: 0;
    z-index: 1000;
}

.userprofilelogo {
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin: 0 2em;
}

/* ADMINIcon --------------------------------------------------------------------------------- */

.adminBN {
    cursor: pointer;
    background-color: transparent;
    border: 0;
}