.formcontainer {
    display: flex;
    flex-direction: row;
}

.formAdjustment {
    justify-content: center;
    align-items: center;
}

.formelements {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    text-align: center;
}

.formelements-field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
    width: 35em;
}

.formelements-field label {
    padding: 0.3em 0;
}

.formelements-field input {
    padding: 1em;
    border-radius: 1em;
    border: 2px solid lightblue;
}

.formelements-field button {
    margin: 1em;
}

.formelements-field select {
    padding: 1em;
    border-radius: 1em;
    border: 2px solid lightblue;
}

.formelements-field-bus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

.form-border {
    border: 1px solid rgba(140, 132, 132, 0.5);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.form-title {
    padding: 5px;
    margin: 5px;
    text-align: start;
}

.passenger-gender {
    display: flex;
}

.passenger-genderD {
    border: 2px solid lightblue;
    border-radius: 0.5em;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1em;
    padding: 0 1em;
}

.passenger-genderD input {
    width: 30px;
    height: 30px;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}

.passenger-genderD span {
    position: absolute;
}

.i_Male:checked~span {
    background-color: #85a5ff;
    border: solid #3d44ff;
    color: black;
    margin: 0 1em;
    padding: 0.3em 1em;
    border-radius: 0.5em;
}

.i_Female:checked~span {
    background-color: #ffb8d9;
    border: solid #ff87bf;
    color: black;
    margin: 0 1em;
    padding: 0.3em;
    border-radius: 0.5em;
}

.form-lower {
    border: 1px solid rgba(140, 132, 132, 0.5);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-lower select {
    padding: 10px;
    margin: 10px;
}

.form-lower-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 93%;
    /* border: 1px solid rgba(140, 132, 132, 0.5); */
    padding: 0px 10px;
    margin: 5px;
    border-radius: 10px;
}

.form-lower-title select {
    padding: 5px;
    margin: 5px;
}

.form-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.formelements-amenities {
    padding: 10px;
    margin: 10px;
}

.formelements-amenities input {
    margin-right: 10px;
    width: 15px;
    cursor: pointer;
}

.formelements-checkboxs {
    display: flex;
}