.homepageimage {
    width: 100%;
}

.searchbarcontainer {
    height: 150px;
    position: absolute;
    top: 42dvh;
    left: 2dvw;
    border-radius: 60px;
    background-color: rgba(224, 255, 255, 0.6);
    box-shadow: 0px 3px 5px 0px black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 85%;
    transition: all 0.5s ease-in-out;
}

.searchbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    padding: 0.5em;
    margin: 0.5em;
}

.searchbar-icons,
.searchbar-searchicons {
    width: 2em;
    height: 2em;
    margin: 0.5em;
}


.searchbar-field {
    display: flex;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 0.5em;
    margin: 0.5em;
    height: 7dvh;
    width: 70%;
    border: 1px solid gray;
}

.searchbar-inputbox {
    height: 1.5em;
    width: 80%;
    font-size: 1.2em;
    background-color: rgba(224, 255, 255, 0.6);
    border: 0;
    border-radius: 20px;
    padding: 0 1em;
}

.search-date {
    width: max-content;
}

.searchbar-female {
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbar-checkbox {
    cursor: pointer;
}

.searchbar-field-female {
    display: flex;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    border: 1px solid black;
}

.searchbar-field-femaletitle {
    margin-bottom: 7px;
}

.searchbar-field-search {
    display: flex;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 10px 0px black;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    height: 30px;
    width: 150px;
    cursor: pointer;
    position: absolute;
    top: 120px;
    background-color: #E1EBEE;

    &:hover {
        background-color: #81a1ab;
    }
}

@media (max-width: 1024px) {
    .searchbar {
        flex-direction: column;
        transition: flex-direction 0.5s ease-in-out;
    }

    .searchbarcontainer {
        height: 60dvh;
        top: 20dvh;
    }

    .search-date {
        width: 70%;
        height: 3em;
    }

    .searchbar-field-search {
        top: 360px;
    }

    .searchbar-field {
        width: 90%;
        display: flex;
        justify-content: space-around;
    }

}


/* ********************************************************** */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3em;
    height: 1.5em;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    border: 1px solid #adb5bd;
    transition: .4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1em;
    width: 1em;
    border-radius: 20px;
    left: 0.27em;
    bottom: 0.25em;
    background-color: #adb5bd;
    transition: .4s;
}

input:checked+.slider {
    background-color: #007bff;
    border: 1px solid #007bff;
}

input:focus+.slider {
    box-shadow: 0 0 1px #007bff;
}

input:checked+.slider:before {
    transform: translateX(1.4em);
    background-color: #fff;
}

/* ********************************************* */