.loginpage-container {
    display: flex;
    height: 80dvh;
}

.loginpage-image img {
    width: 25em;
    height: 35em;
    padding: 1rem;
}

.loginpage {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1rem;
}

.loginpage-title {
    margin: 10px;
}

.loginpage-field {
    display: flex;
    flex-direction: column;
    padding: 1em 0;
}

.loginpage-field label {
    padding: 0.3em 0;
}

.loginpage-field input {
    padding: 1em;
    border-radius: 1em;
    border: 2px solid lightblue;
}

.loginpage-field button {
    margin: 1em;
}

.storelocally {
    margin-right: 10px;
}

.field-radios {
    display: flex;
    align-items: center;
}

.field-radio {
    padding: 0 6px;
}

.field-radio input {
    margin-right: 3px;
    cursor: pointer;
}

.profilepage-seperator {
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 0px black;
    text-align: center;
    display: flex;
}

.profilecontainer {
    display: flex;
}

.profilepersonal {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 10px;
    text-align: center;
    width: 100%;
}

.profilepersonal h3 {
    text-align: start;
    font-size: 1.5em;
}

.profilepersonal-field {
    display: flex;
    padding: 20px;
    margin: 10px;
    justify-content: space-between;
    border-radius: 20px;
}

.profilepage-table table {
    width: 100%;
}

.profilepage-field {
    display: flex;
    justify-content: space-between;
    margin: 15px 0px;
    width: 400px;
}

.profilepage-data {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.downloadBN {
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    left: 0;
}

.downloadBNDiv {
    position: absolute;
}

.downloadBN:hover {
    background-color: aqua;
}

.profilecontainer-title {
    text-align: center;
}

.errorMessage {
    border: 1px solid black;
}


/* --------------------------------------------------------------------------------------- */

.button {
    background-color: lightblue;
    color: black;
    width: 8.5em;
    height: 2.9em;
    border: lightblue 0.2em solid;
    border-radius: 11px;
    transition: all 0.6s ease;
}

.button:hover {
    /* background-color: #3654ff; */
    background-color: #645bff;
    cursor: pointer;
    color: white;
}

.text {
    margin: 0 1.5em
}

.buttonSupport {
    margin: 0 1.5em;
    width: 6em;
    height: 3em;
    background-color: #009087;
    color: white;
}